---
apiVersion: v1
kind: Service
metadata:
  name: ${struts_demo_name:-struts}
  namespace: ${struts_demo_ns:-struts}
spec:
  type: LoadBalancer
  selector:
    app: ${struts_demo_name:-struts}
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      name: struts-8080-tcp
...
