---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: games-arcade
  namespace: ${games_ns:-games}
spec:
  rules:
    - host: ${games_shorthn:-games}.${clu_name}.${mydomain}
      http:
        paths:
          - backend:
              service:
                name: games-arcade
                port:
                  name: web
            path: /
            pathType: Prefix
...
