image: registry.suse.com/suse/manager/5.0/x86_64/server:5.0.0-rc
ssl:
  password: ${suma_ssl_pwd:-admin123}
admin:
  password: ${suma_adm_pwd:-admin123}
  email: ${suma_adm_email:-admin@mydemo.lab}
scc:
  user: ${suma_scc_user:-XYZ}
  password: ${suma_scc_pwd:-admin123}
mirrorPath: ${suma_mirrorPath:-/srv/mirror}
#mirror: ${suma_mirrorPath:-/srv/mirror}
organization: ${suma_def_org:-mydemo}
emailFrom: ${suma_email_from:-suma@$mydomain}

