network:
  version: 2
  ethernets:
    id0:
      match:
        macaddress: "${mymac}"
      addresses:
        - ${myip}
      gateway4: ${mygw}
      nameservers:
        search: [${mydomain}]
        addresses: [${mydns}]

