{
  "ignition": {
    "version": "3.1.0"
  },
  "passwd": {
    "users": [
      {
        "name": "root",
        "passwordHash": "ROOT_PWD_HASH",
        "sshAuthorizedKeys": 
          [
            "ROOT_SSH_KEY"
          ]
      }
    ]
  },
  "storage": {
    "filesystems": [
      {
        "device": "/dev/disk/by-label/ROOT",
        "format": "btrfs",
        "mountOptions": [
          "subvol=/@/home"
        ],
        "path": "/home",
        "wipeFilesystem": false
      }
    ],
    "files": [
      {
        "overwrite": true,
        "path": "/etc/hostname",
        "contents": {
          "source": "data:,TEMPLATE_HN%0A"
        },
        "mode": 420
      }
    ]
  },
  "systemd": {
    "units": [
      {
        "name": "sshd.service",
        "enabled": true
      },
      {
        "name": "Firewalld.service",
        "enabled": false
      },
      {
        "name": "nm-cloud-setup.service",
        "enabled": false
      },
      {
        "name": "nm-cloud-setup.timer",
        "enabled": false
      }
    ]
  }
}

